
* {

margin:0;
padding:0;
-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

}

html {
    min-height: 100%;
    position: relative;
  }

body {



background:url(bg.jpg);
background-size:cover;
background-attachment:fixed ;
}
.bg-dos {

    background:url(bg2.jpg);
background-size:cover;
background-attachment:fixed ;
}


.contenedor{
    font-family: 'Roboto', sans-serif;
    width:90%;
	max-width:1000px;
	margin:auto;


}

#particles-js{

    width:100%;
	height:100%;
	position:fixed;
	background:rgba(0,0,0,.8);

}


header{

position: relative;
height: auto;
width: 100%;

}




header .menu {
/*
    background: #999898;  /* fallback for old browsers 
background: -webkit-linear-gradient(to right, #b1b1b1, #333333);   Chrome 10-25, Safari 5.1-6 
background: linear-gradient(to right, #e2dcdc, #747474);  W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

background-image: url(slide1.png);


overflow: hidden;


}



header .Logo {

color:rgba(59, 59, 59, 0.7);
float: left;
font-size:40px;
line-height:80px;


}

header nav{

float: right;


}

header nav ul{

    list-style: none;
    
    
    }

    header nav li{

        float: left;
        
        
        }
    header nav ul li a{

       text-decoration: none;
        display: block;
        font-size: 18px;
        padding: 0 20px;
        line-height: 80px;
        color: rgba(0,0,0, .8);
        }
    header nav ul li:hover{

        color: rgba(0,0,0, .8);
border-bottom: inset 5px solid #fff;

}
    header nav ul li a:hover{

        color:#fff;
background-color: rgb(61, 61, 61);

    }


    .texto{
        font-family: 'Roboto', sans-serif;
color: #fff;
position: relative;
padding: 200px 0px;
text-align: center;
font-weight:400px;


    }

    .texto h2,  .texto p {

background: rgba(0,0,0, .8);
display:inline-block;
padding: 10px 20px;
size: 300px;

    }

    .texto h2 {
font-size:40 px;
letter-spacing:2.5px;
font-weight: normal;

    }

    .texto p {

font-size: 20px;
letter-spacing: 2.5px;

    }




 
    .principal{
position: relative;
color:#fff;
text-align: center;
padding: 30px 50px;
float: left;
max-width: 50%;

    }


    .principal article {

padding:20px;
background:rgba(51, 51, 51, 0.561);
margin-bottom:20px;


    }

    .principal article p {

margin-bottom: 20px;
line-height: 24px;

    }


    .principal article .fecha{

color:rgb(175, 175, 175);



    }














    








    .card-g{
        width: 100%;
        max-width: 1200px;
        height: 430px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: auto;
        display: flex;
     align-items: center;
     display: inline-block;

     margin: 10px auto;


display: flex;
align-items: center;
justify-content: center;
    }
    
    .card-g .card{
        width: 300px;
        height: 430px;
        border-radius: 8px;
        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        margin: 30px 45px;
        text-align: center;
        transition: all 0.25s;
        display: flex;
 float: left;
 background-color: #3b3b3b;


    }
    
    .card-g .card:hover{
        transform: translateY(-15px);
        box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }
    
    .card-g .card img{
        width: 330px;
        height: 220px;
    }
    
    
    .card-g .card h4{
        font-weight: 600;
        color: #fff;
    }
    
    .card-g .card p{
        padding: 0 1rem;
        font-size: 16px;
        font-weight: 300;
        color: #fff;
    }
    
    .card-g .card a {
        font-weight: 500;
        text-decoration: none;
        color: #3498db;
    }
















    footer {
        background-color: black;
        position: absolute;
        bottom: 0px;
        width: 100%;
        height: 40px;
        color: white;
position: fixed;

    }



    footer p {
        font-family: 'Roboto', sans-serif;
  text-align: center;
    line-height:40px;
    font-size: 20px;
    }












    @media screen and (max-width:800px) {

     
   
        .principal{
            position: relative;
            color:#fff;
            text-align: center;
        width:100%;
           max-width: 1200px;
            margin: auto;


            
                }   


    

        


                header .menu {

                  
                    overflow: hidden;
                    background-image: url(slide1.png);

                    
                    }
                    

                    header nav{

                        float: inline-end;
                  
                        
                        }



                        body {



                            background:url(bg.jpg);
                        size: 100%;
                            background-attachment:fixed ;

align-items: center;

}
                        .bg-dos {



                            background:url(bg2.jpg);
                        size: 100%;
                            background-attachment:fixed ;

align-items: center;

}






                            header nav ul li a{

                                text-decoration: none;
                                 display:inline-block;
                                 font-size: 15px;
                                 padding: 0 5px;
                                 color: rgb(51, 51, 51);
                                 }
        




                                 header .Logo {

                                    color:rgb(22, 22, 22) ;;
                                    float: left;
                                    font-size: 23px;
                                    line-height:80px;
                
                                    
                                    }


                                    .card-g .card{
                                        
                                        height: 430px;
                                        border-radius: 8px;
                                        box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
                                        overflow: hidden;
                                        margin: 20px;
                                        text-align: center;
                                        transition: all 0.25s;
                                      align-items: center;
                                 float: left;
                                    }


                                 }





                             